{% extends "base.html.twig" %}

{% block title %}Dashboard - Panel
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="d-sm-flex justify-content-between align-items-center mb-4">
			<h3 class="text-dark mb-0">Dashboard</h3>
			<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">
				<i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
		</div>
        <div class="row text-start">
            <div class="col mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Joueurs connectés</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ connected }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fa fa-users fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Nombre de compte</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ user_count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Nombre de quiz</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ quiz_count }}</span></div>
                            </div>
                            <div class="col-auto"><svg class="bi bi-file-text fa-2x text-gray-300" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>parties jouées</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ play_count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow border-start-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Signalements en attente</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ reports_count }}</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
		<div class="row">
			<div class="col-md-6 col-xl-3 mb-4">
				<div class="card shadow border-start-primary py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters">
							<div class="col me-2">
								<div class="text-uppercase text-primary fw-bold text-xs mb-1">
									<span>Nombre de compte</span>
								</div>
								<div class="text-dark fw-bold h5 mb-0">
									<span>{{ user_count }}</span>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-calendar fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 mb-4">
				<div class="card shadow border-start-success py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters">
							<div class="col me-2">
								<div class="text-uppercase text-success fw-bold text-xs mb-1">
									<span>Nombre de quiz</span>
								</div>
								<div class="text-dark fw-bold h5 mb-0">
									<span>{{ quiz_count }}</span>
								</div>
							</div>
							<div class="col-auto">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-file-text fa-2x text-gray-300">
									<path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"></path>
									<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 mb-4">
				<div class="card shadow border-start-info py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters">
							<div class="col me-2">
								<div class="text-uppercase text-info fw-bold text-xs mb-1">
									<span>parties jouées</span>
								</div>
								<div class="text-dark fw-bold h5 mb-0">
									<span>{{ play_count }}</span>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 mb-4">
				<div class="card shadow border-start-warning py-2">
					<div class="card-body">
						<div class="row align-items-center no-gutters">
							<div class="col me-2">
								<div class="text-uppercase text-warning fw-bold text-xs mb-1">
									<span>SIgnalements en attentes</span>
								</div>
								<div class="text-dark fw-bold h5 mb-0">
									<span>{{ reports_count }}</span>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        -->
		<div class="row">
			<div class="col-lg-12 col-xl-12">
				<div class="card shadow mb-4">
					<div class="card-header d-flex justify-content-between align-items-center">
						<h6 class="text-primary fw-bold m-0">Nombre de connexions</h6>
						<div class="dropdown no-arrow">
							<button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
								<i class="fas fa-ellipsis-v text-gray-400"></i>
							</button>
							<div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
								<p class="text-center dropdown-header">dropdown header:</p>
								<a class="dropdown-item" href="#">&nbsp;Action</a>
								<a class="dropdown-item" href="#">&nbsp;Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">&nbsp;Something else here</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="chart-area">
                            <canvas data-bss-chart='
                            {
                                "type": "line",
                                "data": {
                                    "labels": [
                                        "{{ dates[11] }}",
                                        "{{ dates[10] }}",
                                        "{{ dates[9] }}",
                                        "{{ dates[8] }}",
                                        "{{ dates[7] }}",
                                        "{{ dates[6] }}",
                                        "{{ dates[5] }}",
                                        "{{ dates[4] }}",
                                        "{{ dates[3] }}",
                                        "{{ dates[2] }}",
                                        "{{ dates[1] }}",
                                        "{{ dates[0] }}"
                                    ],
                                    "datasets": [
                                        {
                                            "label": "Connexions",
                                            "data": [
                                                "{{ play_counts[11] }}",
                                                "{{ play_counts[10] }}",
                                                "{{ play_counts[9] }}",
                                                "{{ play_counts[8] }}",
                                                "{{ play_counts[7] }}",
                                                "{{ play_counts[6] }}",
                                                "{{ play_counts[5] }}",
                                                "{{ play_counts[4] }}",
                                                "{{ play_counts[3] }}",
                                                "{{ play_counts[2] }}",
                                                "{{ play_counts[1] }}",
                                                "{{ play_counts[0] }}"
                                            ],
                                            "backgroundColor": "rgba(78,115,223,0.05)",
                                            "borderColor": "rgba(78,115,223,1)"
                                        }
                                    ]
                                },
                                "options": {
                                    "maintainAspectRatio": false,
                                    "legend": {
                                        "display": false,
                                        "labels": {
                                            "fontStyle": "normal"
                                        }
                                    },
                                    "title": {
                                        "fontStyle": "normal"
                                    },
                                    "scales": {
                                        "xAxes": [
                                            {
                                                "gridLines": {
                                                    "color": "rgb(234,236,244)",
                                                    "zeroLineColor": "rgb(234,236,244)",
                                                    "drawBorder": false,
                                                    "drawTicks": false,
                                                    "borderDash": [
                                                        "2"
                                                    ],
                                                    "zeroLineBorderDash": [
                                                        "2"
                                                    ],
                                                    "drawOnChartArea": false
                                                },
                                                "ticks": {
                                                    "fontColor": "#858796",
                                                    "fontStyle": "normal",
                                                    "padding": 20
                                                }
                                            }
                                        ],
                                        "yAxes": [
                                            {
                                                "gridLines": {
                                                    "color": "rgb(234,236,244)",
                                                    "zeroLineColor": "rgb(234,236,244)",
                                                    "drawBorder": false,
                                                    "drawTicks": false,
                                                    "borderDash": [
                                                        "2"
                                                    ],
                                                    "zeroLineBorderDash": [
                                                        "2"
                                                    ]
                                                },
                                                "ticks": {
                                                    "fontColor": "#858796",
                                                    "fontStyle": "normal",
                                                    "padding": 20
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                            '>
                            </canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
