{% extends "base.html.twig" %}

{% block title %}Quiz - panel{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('Js/quizList.js') }}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Quizs</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Listes de tous les Quizs</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Nombre de lignes :
                            <select class="d-inline-block form-select form-select-sm" style="width: 79.578px;" onchange="window.location.href='{{ path('quizList') }}/'+this.value+'/{{ page }}'">
                                <option value="10" {% if size == 10 %} selected {% endif %}>10</option>
                                <option value="25" {% if size == 25 %} selected {% endif %}>25</option>
                                <option value="50" {% if size == 50 %} selected {% endif %}>50</option>
                                <option value="100" {% if size == 100 %} selected {% endif %}>100</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                        <a class="btn btn-primary" type="button" href="{{ path('createQuizForm') }}" style="margin-right: 40px;background: var(--bs-success);border-color: var(--bs-green);">Créer un quiz</a>
                        <label class="form-label">
                            <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Rechercher">
                        </label>
                    </div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Status</th>
                            <th style="min-width: 170px;">Nom du Quiz</th>
                            <th style="min-width: 165px;">Description</th>
                            <th style="min-width: 110px;">Propriétaire</th>
                            <th style="min-width: 100px;">Modifié le</th>
                            <th style="min-width: 100px;">Créé le</th>
                            <th style="min-width: 62px;">Joué</th>
                            <th style="text-align: center;min-width: 20px;"><i class="fa fa-star-half-full" style="font-size: 18px;"></i></th>
                            <th style="text-align: center;min-width: 20px;"><i class="fa fa-warning" style="font-size: 18px;"></i></th>
                            <th style="min-width: 160px;width: 160px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for quiz in pagination %}
                        <tr>
                            <td style="text-align: center;">
                                {% if quiz.publish == 1 %}
                                    <i class="fas fa-dot-circle" style="font-size: 29px;color: rgb(160,255,102);padding-top: 9px;"></i>
                                {% else %}
                                    <i class="far fa-dot-circle" style="font-size: 29px;color: rgb(255,111,102);padding-top: 9px;"></i>
                                {% endif %}
                            </td>
                            <td style="text-decoration: underline;font-weight: bold;"><a style="color: #ffffff;" href="{{ path('quiz', {quizid:quiz.ID}) }}">{{ quiz.Name }}</a></td>
                            <td>{{ quiz.Description}}</td>
                            <td style="col"><a style="color: #ffffff;" href='{{ path('profile', {steamId:quiz.SteamID}) }}'>{{ quiz.CreatorName }}</td>
                            <td>{{ quiz.UpdateDate|date('d/m/Y H:i') }}</td>
                            <td>{{ quiz.CreationDate|date('d/m/Y H:i') }}</td>
                            <td>{{ quiz.PlayNumber }}</td>
                            <td style="text-align: center;">
                            {% if quiz.publish == 1 %}
                                {{ quiz.Rating}}
                            {% else %}
                                
                            {% endif %}
                                </td>
                            <td style="text-align: center;font-weight: bold;text-decoration:  underline;">0</td>
                            <td style="text-align: right;">
                            {% if quiz.publish == 1 %}
                                <button class="btn btn-primary" onclick="openFormUnpublish('{{quiz.ID}}')" type="button" style="background: var(--bs-orange);border-color: var(--bs-orange);width: 97px;">Dépublier</button><button class="btn btn-primary" onclick="openFormDelete('{{quiz.ID}}')" type="button" style="background: var(--bs-red);border-color: var(--bs-red);margin-right: 0px;margin-left: 7px;"><i class="fa fa-trash"></i></button>
                            {% else %}
                                <button class="btn btn-primary" onclick="openFormPublish('{{quiz.ID}}')" type="button" style="background: #434343;border-color: #828282;width: 97px;">Publier</button><button class="btn btn-primary" onclick="openFormDelete('{{quiz.ID}}')" type="button" style="background: var(--bs-red);border-color: var(--bs-red);margin-right: 0px;margin-left: 7px;"><i class="fa fa-trash"></i></button>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Affichage de {{ page * size - size + 1}} à {% if page * size > pagination.getTotalItemCount %}{{pagination.getTotalItemCount}}{% else %}{{ page * size }}{% endif %} sur {{ pagination.getTotalItemCount }} </p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="Form" style="display:none">
        <div style="top:0; left:0; position:fixed; width: 100%;min-width: 100%;height: 100%;min-height: 100%;z-index: 3;background-color: rgba(0,0,0,0.64);"></div>
			<div class="card shadow" style="z-index: 5;margin: auto;position: absolute;left: 0;top: 0;right: 0;bottom: 0;height: 164px;width: 437px;">
				<div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
					<h6 id="popUpHeadText" class="text-primary fw-bold m-0">Confirmer la suppression de {object_name}</h6>
				</div>
				<div class="card-body">
					<label id="popUpBodyText" class="form-label text-start" style="color: rgb(255,255,255);">Voulez-vous réellement supprimer :?<br></label>
					<div style="text-align: center;padding-top: 7px;">
						<button class="btn btn-primary" type="button" style="background: #414141;border-color: #5e5e5e;margin-right: 15px;" onclick="closeForm()">Annuler</button>
						<button class="btn btn-primary" id="action" type="button" style="background: #c55e5e;border-color: #ff9494;margin-right: 0px;text-align: right;" onclick="deleteKey();">Supprimer</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}